<div class="centered-content">
    <div class="home-container">

        <!--*********** SIDE BAR **********-->
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Locations
            </h1>

            <div class="selectable-area">
            <a class="selectable-area-item is-active">
                <p>Item #1</p>
            </a>
            <a class="selectable-area-item">
                <p>Item #2</p>
            </a>
            <a class="selectable-area-item is-active">
                <p>Item #1</p>
            </a>
            <a class="selectable-area-item">
                <p>Item #2</p>
            </a>
            <a class="selectable-area-item is-active">
                <p>Item #1</p>
            </a>
            <a class="selectable-area-item">
                <p>Item #2</p>
            </a>
            <a class="selectable-area-item is-active">
                <p>Item #1</p>
            </a>
            <a class="selectable-area-item">
                <p>Item #2</p>
            </a>
            <a class="selectable-area-item is-active">
                <p>Item #1</p>
            </a>
            <a class="selectable-area-item">
                <p>Item #2</p>
            </a>
            <a class="selectable-area-item is-active">
                <p>Item #1</p>
            </a>
            <a class="selectable-area-item">
                <p>Item #2</p>
            </a>
            <a class="selectable-area-item is-active">
                <p>Item #1</p>
            </a>
            <a class="selectable-area-item">
                <p>Item #2</p>
            </a>
            </div>

            <button class="button is-grey-lighter has-background-gray">+ New Location</button>
        </div>


        <!--*********** MAIN AREA **********-->
        <div class="home-selected-container has-background-grey-lighter">
            <h1 class="title has-text-primary">
                Selected
            </h1>

            <div class="desc-title-area has-background-white">
                <p>The selected item title</p>
            </div>

            <div class="selected-img"> 
                <img src="../assets/img/harley.jpg" alt="HTML5 Icon" width="720" height="720">
           </div>

            <textarea class="desc-text-area has-background-white">The is were the text will go.</textarea>
            
        </div>

    </div>
</div>
